\documentclass[10pt]{article}
\usepackage[{{ paper_option }},inner={{ inner_margin_mm }}mm,outer={{ outer_margin_mm }}mm,top={{ top_margin_mm }}mm,bottom={{ bottom_margin_mm }}mm]{geometry}
\usepackage{multicol}
\usepackage{graphicx}
\usepackage{hyperref}
\usepackage{xcolor}
\usepackage{fancyhdr}
\usepackage{microtype}
\usepackage{listings}
\usepackage{upquote}
\usepackage{xurl}
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\setlength{\columnsep}{ {{ column_gap_mm }}mm }
\pagestyle{fancy}
\fancyhf{}
\rhead{xmag issue}
\lhead{X Article Digest}
\cfoot{\thepage}
\hypersetup{
  colorlinks=true,
  linkcolor=black,
  urlcolor=black,
  citecolor=black,
  filecolor=black
}
\pagecolor{white}
\color{black}
\renewcommand{\UrlFont}{\color{black}\ttfamily}
\setlength{\parindent}{0pt}
\setlength{\parskip}{0.8em}
\lstset{
  basicstyle=\ttfamily\footnotesize,
  breaklines=true,
  columns=fullflexible,
  showstringspaces=false,
  frame=single,
  framerule=0.2pt,
  rulecolor=\color{black!35},
  xleftmargin=0.5mm,
  xrightmargin=0.5mm,
  aboveskip=1.3mm,
  belowskip=1.3mm
}

\begin{document}
{% for block in body_blocks %}
{{ block }}
{% endfor %}
{% if include_appendix and appendix_images %}
\newpage
\section*{Image Appendix}
{% for image in appendix_images %}
\begin{center}
\includegraphics[width=0.72\textwidth]{\detokenize{ {{ image.local_path.resolve().as_posix() }} }}
\end{center}
\vspace{2.4mm}
{% endfor %}
{% endif %}
\end{document}
